@import "./../../../style.scss";

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0px;
  font-size: 1.5rem;
}

.popupContainer {
  @include flex-column;
  align-items: center;
  background: $bgMain;
  background: radial-gradient(ellipse at center, $bgSecond 0%, #000000 70%);
  height: 20rem;
  width: 30rem;
  justify-content: center;
  transition: all 0.15s ease-in-out;

  &.with-login {
    height: 40rem;
  }
}
