@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./assets/scss/abstracts/mixin";
@import "./assets/scss/abstracts/variables";
@import "./assets/scss/abstracts/material";

@import "./assets/scss/base/animations";
@import "./assets/scss/base/base";
@import "./assets/scss/abstracts/mixin";
@import "./assets/scss/abstracts/variables";
@import "./assets/scss/abstracts/material";

.App {
  text-align: center;
  background: linear-gradient(to bottom left, darken($bgMain, 10), darken($bgMain, 15));
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: auto;

  .spinner-container {
    @include abs-center;
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
}

.App-link {
  color: #09d3ac;
}
